
body {
    font-size: 15pt;
    background: black;
}
.calculator{
  text-align: center;
  width: 100px;
}
  
      #screen{
        width: 250px;
        height: 70px;
        font-size: 35px;
        color: #06FF00;
        border: 10px solid black;
        border-radius: 30px;
        background: red;
        margin-left: 25%;
      }
     td,tr{
        background: black;
        border-radius: 15px;
        
       
      }
 
      
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'source sans pro', sans-serif;
}

button{

  background-color:black;
  border: black;
  font-size: 20px;  background:#4cee3c ;
        height: 50px;
         width: 50px; 
         border: 2px solid  blue;
          border-radius: 12px;
  
}

table{
  width: 300px;
  height: 250px;
  border: 10px solid red; 
   border-radius: 30px;
  
  font-size: 25px;
  background: red;
}
h1{
  color: #06FF00;
}